<html>
    <head>
        <title>Hello Todos</title>
    </head>
    <body>
        <h1>Hello New Todo</h1>
            <form action="AddNew" method="post">
                Title: <input type="text" name="text"><br>
                <input type="submit" value="Add">
            </form>
    </body>
</html>
