<html>
    <head>
        <title>Hello Todos</title>
    </head>
    <body>
        <h1>Hello Todos</h1>
            {{#todos}}
                <pre>- {{text}} ({{id}})</pre>
            {{/todos}}
        <button>Add Todo</button>
    </body>
</html>
