<html>
    <head>
        <title>Hello Todos</title>
    </head>
    <body>
        <h1>Hello Todos</h1>
            {{#todos}}
                - {{text}} ({{id}})<br>
            {{/todos}}
            <br>
            <form action="AddNew" method="get">
                <input type="submit" value="Add New">
            </form>
            <form action="Remove" method="get">
                <input type="submit" value="Remove">
            </form>
    </body>
</html>
